<section ng-controller="HomeController">
<div class="homeHeader">
  <img class="logo" src="https://d13yacurqjgara.cloudfront.net/users/393862/screenshots/1924915/puffin_dribbble2.jpg" width="270px" height="270px" alt="" />
  <div class="titleGroup">
    <h1 class="pageTitle" >Smart Cart</h1>
    <p class="subtitle" >Personal Finance App</p>
    <p class="subsubtitle" >Track your grocery spending</p>
  </div>
</div>
  <p class="homeGraphDescription">Track your budgeting progress over time</p>
  <img class="homeGraph" src="http://community.microstrategy.com/legacyfs/online/UploadContent/45k/TN42448_TN42448_0.PNG" width="700px" height="300px" alt="" />

</section>
