<section>
  <div class="page-header">
    <h1>Your Categories</h1>
  </div>
  <div class="list-group categoryList">
    <a ng-repeat="category in vm.categories"
       ui-sref="categories.view({ categoryId: category._id })"
       class="list-group-item">
      <!-- <small class="list-group-item-text">
        posted on
        <span ng-bind="category.created | date:'mediumdate'"></span>
        by
        <span ng-if="category.user" ng-bind="category.user.displayname"></span>
        <span ng-if="!category.user">Deleted User</span>
      </small> -->
      <h4 class="list-group-item-heading" ng-bind="category.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.categories.$resolved && !vm.categories.length">
    No Categories yet, why don't you <a ui-sref="categories.create">create one</a>?
  </div>
</section>
