<section ng-controller="ArticlesController">
  <div class="page-header">
    <h1>Enter Purchases</h1>
  </div>

  <!-- upload receipt -->
  <div class="receiptUpload">
    <h2> upload a receipt</h2>
    <p>Save yourself some typing by uploading a photo of your receipt, so we can grab the numbers</p>
    <input filepicker type="filepicker-dragdrop" data-fp-services="computer,facebook,dropbox,box" on-success="onSuccess(event.fpfile)" />


    <!-- <div filepicker-preview url="" style="width:90%; height:500px"></div> -->

    <!--   receipt read upload form    -->
    <form name="articleForm" id="receiptUpload"  class="" ng-submit="create(articleForm.$valid)" novalidate>
      <fieldset>
        <div class="">
          <label for="date">Date</label>
          <input type="date" name="date" id="date" ng-model="date">
        </div>

          <div ng-repeat-start="price in prices track by $index" class="receiptUploadRow">
            <label for="name">Name</label>
            <input name="name" type="text" ng-model="name" id="name" placeholder="item name" required>
            <!-- <div ng-messages="articleForm.name.$error" role="alert">
              <p class="help-block error-text" ng-message="required">item name is required.</p>
            </div> -->
          </div>
          <label for="category">Category</label>
          <select name="category" ng-model="category" id="category" class="receiptUploadRow" cols="30" rows="10" placeholder="category">
            <option  value="" disabled selected>category</option>
            <option value="produce">Produce</option>
            <option value="frozen">Frozen</option>
            <option value="junk">Junk</option>
          </select>
          <div class="receiptUploadRow">
            <label for="price">Purchase price</label>
            <input type="text" name="price" id="price" ng-model="price">
          </div>

          <button ng-repeat-end="price in prices track by $index"type="button" class="receiptUploadRow" ng-click="removePrice($index)" name="button">delete</button>
          <br>
          <input form="receiptUpload" type="submit" class="btn btn-default">

    </fieldset>
    </form>

  </div>
  <p>Or enter purchases manually...</p>
    <form name="articleForm" class="" ng-submit="create(articleForm.$valid)" novalidate>
      <fieldset>
          <label for="name">Name</label>
          <input name="name" type="text" ng-model="name" id="name" class="" placeholder="item name" required>
          <label for="category">Category</label>
          <select name="category" ng-model="category" id="category" class="" cols="30" rows="10" placeholder="category">
            <option  value="" disabled selected>category</option>
            <option value="produce">Produce</option>
            <option value="frozen">Frozen</option>
            <option value="meat">Meat</option>
            <option value="junk">Junk</option>
            <option value="beverages">Beverages</option>
            <option value="dry_goods">Dry goods</option>
            <option value="home products">Home Products</option>

          </select>
          <label for="price">Price</label>
          <input type="text" name="price" ng-model="price" id="price" class="" cols="30" rows="10" placeholder="price">
          <label for="date">Date</label>
          <input type="date" name="date" id="date" ng-model="date">
          <input type="submit" class="btn btn-default">
          <strong ng-bind="error"></strong>
      </fieldset>
    </form>
</section>
