<section ng-controller="ArticlesController">
  <div class="page-header">
    <h1>Enter Purchases</h1>
  </div>

  <!-- upload receipt -->
  <div class="receiptUpload">
    <h2> upload a receipt</h2>
    <p>Save yourself some typing by uploading a photo of your receipt, so we can grab the numbers</p>
    <input filepicker type="filepicker-dragdrop" data-fp-services="computer,facebook,dropbox,box" on-success="onSuccess(event.fpfile)" />


    <!-- <div filepicker-preview url="" style="width:90%; height:500px"></div> -->
    <!-- <form id="receiptUpload" ng-repeat="price in prices track by $index" class="" ng-submit="create(articleForm.$valid)" action="index.html" method="post">
        <label for="name">Name</label>
        <input name="name" type="text" ng-model="name" id="name" placeholder="item name" required>
        <div ng-messages="articleForm.name.$error" role="alert">
          <p class="help-block error-text" ng-message="required">item name is required.</p>
        </div>
      <select name="category" ng-model="category" id="category" class="" cols="30" rows="10" placeholder="category">

      <label for="price">Purchase price</label>
      <input type="text" name="price" id="price" ng-model="price">
      <button type="button" ng-click="removePrice($index)" name="button">delete</button>
      <br>
    </form>
    <input for="receiptUpload" type="submit" class="btn btn-default"> -->

  </div>
  <p>Or enter purchases manually...</p>
    <form name="articleForm" class="" ng-submit="create(articleForm.$valid)" novalidate>
      <fieldset>
          <label for="name">Name</label>
          <input name="name" type="text" ng-model="name" id="name" class="" placeholder="item name" required>
          <label for="category">Category</label>
          <input type="text" name="category" ng-model="category" id="category" class="" cols="30" rows="10" placeholder="category">
          <label for="price">Price</label>
          <input type="text" name="price" ng-model="price" id="price" class="" cols="30" rows="10" placeholder="price">
          <input type="submit" class="btn btn-default">
          <strong ng-bind="error"></strong>
      </fieldset>
    </form>
</section>
