<section ng-controller="ArticlesController" ng-init="find()">
  <div class="page-header">
    <h1>Purchases</h1>
  </div>
  <div>
    <table class="table table-striped">
      <tr>
        <th>product name</th>
        <th>category</th>
        <th>price</th>
      </tr>

      <tr ng-repeat="article in articles | orderBy : 'category'" ui-sref="articles.view({articleId: article._id})">
        <!-- <a ng-repeat="article in articles" ui-sref="articles.view({articleId: article._id})">  -->
        <td class="tableItem" ng-bind="article.name"> {{ article.name }}</td>
        <td class="tableItemPrice" ng-bind="article.category"></td>
        <td class="tableItem" ng-bind="article.price"></td>
      </tr>
    </table>
    <!-- <td>
            <span ng-show="authentication.user._id == article.user._id">
              <a class="btn btn-primary" ui-sref="articles.edit({articleId: article._id})">
                <i class="glyphicon glyphicon-edit"></i>
              </a>
              <a class="btn btn-primary" ng-click="remove();">
                <i class="glyphicon glyphicon-trash"></i>
              </a>
            </span>
          </td>
        </a> -->


  </div>
  <div class="alert alert-warning text-center" ng-if="articles.$resolved && !articles.length">
    No articles yet, why don't you <a ui-sref="articles.create">create one</a>?
  </div>
</section>
