<section ng-controller="ArticlesController" ng-init="find()">
  <div class="page-header">
    <h1>Purchases</h1>
  </div>
  <div >
    <table class="table table-striped">
      <tr>
        <th>product name</th>
        <th>category</th>
        <th>price</th>
        <th>edit/delete</th>
      </tr>
    </table>
        <a  ng-repeat="article in articles" ui-sref="articles.view({articleId: article._id})">
          <span class="tableItem" ng-bind="article.name"> {{ article.name }}</span>
          <span class="tableItemPrice" ng-bind="article.category"></span>
          <span class="tableItem" ng-bind="article.price"></span>
<br>
          <!-- <td>
            <span ng-show="authentication.user._id == article.user._id">
              <a class="btn btn-primary" ui-sref="articles.edit({articleId: article._id})">
                <i class="glyphicon glyphicon-edit"></i>
              </a>
              <a class="btn btn-primary" ng-click="remove();">
                <i class="glyphicon glyphicon-trash"></i>
              </a>
            </span>
          </td> -->
        </a>


  </div>
  <div class="alert alert-warning text-center" ng-if="articles.$resolved && !articles.length">
    No articles yet, why don't you <a ui-sref="articles.create">create one</a>?
  </div>
</section>
