<!--individual article -->

<section ng-controller="ArticlesController" ng-init="findOne()">

  <!-- <div class="page-header">
    <h1 ng-bind="article.title"></h1>
  </div> -->
  <!--  edit and delete buttons  -->
  <div class="pull-right" ng-show="authentication.user._id == article.user._id">
    <a class="btn btn-primary" ui-sref="articles.edit({articleId: article._id})">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="remove();">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>

  <!-- <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="article.created | date:'mediumDate'"></span>
      by
      <span ng-bind="article.user.displayName"></span>
    </em>
  </small>

  <p class="lead" ng-bind="article.content"></p>
  <p class="lead" ng-bind="article.ticklist"></p> -->


<!--  Goal stuff  -->
  <div class="top">
      <div class="tickList">
        <h2>Tick List</h2>
        <p class="lead" ng-bind="article.ticklist"></p>
      </div>
  </div>

  <div class="title">
    <h1>Your Goal:</h1>
    <p ng-bind='article.title'></p>
    <p ng-bind='article.created'></p>
  </div>

  <div class="heroImage"></div>
    <div class="lower">
      <div class="training-section">
          <ul class="training">
            <li>Do hangboard training cycle</li>
          </ul>
          <p>Training Goals</p>
      </div>
      <div class="lower-center">
        <div class="next">
          <h3>What's Next?</h3>
          <p class="todo">Climb a route in the Park</p>
        </div>

        <div class="recent">
          <h3>Recent Accomplishments</h3>
          <ul>
            <li>Climbed a 5.11d</li>
            <li>Finished 3rd week of ARC training</li>
          </ul>
        </div>
      </div>

      <div >
        <img class="photo-of-the-day" src="http://patagonia.typepad.com/.a/6a00d8341d07fd53ef017ee87db79e970d-500wi">
        <p>Photo of the Day</p>
      </div>

    </div>

    </section>
