
.content {
  margin-top: 50px;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}
/********************   ************************/

body {
  background: white;
  width: 90%;
}
/*   Home page    */
.logo {
  border-radius: 5px;
  margin-right: 70px;
  /*box-shadow: 10px 10px 50px gray;*/
}
.pageTitle {
  align-self: center;
  font-size: 8rem;
  text-shadow: 3px 3px 5px gray;
}
.titleGroup {
  display: flex;
  flex-direction: column;
}
.homeHeader {
  display: flex;
  flex-direction: row;
  margin: 30px;
  margin-bottom: 50px;
}
.subtitle {
  font-size: 3rem;
}
.subsubtitle {
  font-size: 2rem;
}
.homeGraph {
  margin: 20px;
  margin-left: 50px;
  box-shadow: 10px 10px 50px gray;
}
.homeGraphDescription {
  font-size: 2rem;
  margin: 20px;
  margin-left: 50px;
}

ul {
  list-style-type: none;
}

/*    purchase list      */
.tableItem {
  margin-left: 10px;
  margin-right: 15%;
  padding-right: 15%;
}
.tableItemPrice {
  margin-right: 15%;
}
/*   category list     */
.categoryList {
  width: 40%;
}

/*   purchase entry page   */
.form-horizontal {
  width: 70%;
}
#receiptUpload {
  margin: 15px 15px 15px 5px;
  padding: 15px;
  width: 700px;
}
.receiptUploadRow {
  display: inline;
}
